


.botaoEntrar{
    -fx-background-color:black;
}

.botaoEntrar:hover{

    -fx-text-fill:black;
    -fx-background-color:white;
}

.botaomenuleft{
-fx-background-color:transparent;
-fx-border-color:white;
-fx-border-width:3px;
-fx-border-radius:5px;


}

.botaomenuleft:hover{
 -fx-cursor:hand;
}

.botaomenuright{
-fx-background-color: #479F6C;
-fx-border-color:black;
-fx-border-width:3px;
-fx-border-radius:30px;
-fx-background-radius:30px;
}

.botaomenuright:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;

}

.check-box {
    /* default properties */
    selected-box-color: transparent;
    box-color: transparent;
    mark-color: white;
    -fx-border-color:white;
    -fx-border-radius:5px;
    -fx-border-width:3px;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: black;
        -fx-padding: 10px;

}


* {
	-fx-primary-color: #62E197;
	-fx-secondary-color: #4B6EAF;
	-fx-light-grey-color: #d1d1d1;

	-fx-focus-color: -fx-secondary-color;
}

.date-picker .arrow-button {
	-fx-background-color: -fx-primary-color;
	-fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
	-fx-background-color: -fx-secondary-color;
}
.date-picker .arrow-button .arrow {
	-fx-background-color: white;
}
.date-picker .cell {
	-fx-background-color: white;
}
.date-picker .cell:hover {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .cell:focused {
	-fx-background-color: -fx-light-grey-color;
}
.date-picker .selected {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker .selected:focused {
	-fx-background-color: -fx-primary-color;
	-fx-text-fill: white;
}
.date-picker-popup  {
	-fx-border-color: transparent;
}
.date-picker-popup .month-year-pane {
	-fx-background-color: -fx-primary-color;
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: white;
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: -fx-secondary-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: white;
}

.choice-box .context-menu {
    -fx-pref-width: 150; /* Your width for the context menu background shown */
}


/*TABLE VIEW STYLE*/
.table-view{
    -fx-background-color: #9544b8;
    -fx-alignment:justify;


}

.table-cell {
    -fx-font-size: 15px; /* Define o tamanho da fonte */
    -fx-text-fill: white; /* Define a cor da fonte */
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-background-color: #9F478C;
    -fx-font-size: 18px;

}

.table-view .table-row-cell {
    -fx-border:2px;
    -fx-border-color:black;
    -fx-background-color:#9544b8;

}


.table-view .table-row-cell:selected {
    -fx-border:3px;
    -fx-background-color: #62E197;
    -fx-text-fill: black;
}

.botaoretornar:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.retornarfornecedor:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.retornarvenda:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.botaoadicionar:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.botaofinalizar:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.botaousuario:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}

.botaosenha:hover{
-fx-opacity: 0.7; -fx-scale-x: 1.1; -fx-scale-y: 1.1; -fx-translate-x: 5;
}







