.botaoEntrar{
    -fx-background-color:black;
}

.botaoEntrar:hover{

    -fx-text-fill:black;
    -fx-background-color:white;
}

.botaomenuleft{
-fx-background-color:transparent;
-fx-border-color:white;
-fx-border-width:3px;
-fx-border-radius:5px;


}

.botaomenuleft:hover{
    -fx-cursor:hand;
}

.botaomenuright{
-fx-background-color: #479F6C;
-fx-border-color:black;
-fx-border-width:3px;
-fx-border-radius:30px;
-fx-background-radius:30px;
}

.check-box {
    /* default properties */
    selected-box-color: transparent;
    box-color: transparent;
    mark-color: white;
    -fx-border-color:white;
    -fx-border-radius:5px;
    -fx-border-width:3px;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: black;
        -fx-padding: 10px;

}

